<% content_for :title do %>
	Role
<% end %>

<% content_for :titleTag do %>
	The role of user permissions
<% end %>

<% content_for :body do %>

<div class="row">
	<div class="col-sm-12">
	  <div class="panel panel-white no-radius">
	    <div class="panel-heading border-light">
			<h4 class="panel-title">Roles</h4>
			<ul class="panel-heading-tabs border-light">
				<li>
					<%= link_to "Add New", {controller: "role", action: "new"}, class: "btn btn-info" %>
				</li>
			</ul>
		</div>
	    <div class="panel-body">
		  <table class="table table-bordered">
		  	<thead>
		  		<th width="5%">ID</th>
		  		<th width="25%">Name</th>
		  		<th width="20%">Label</th>
		  		<th width="40%">Action</th>
		  	</thead>
		  	<tbody>
		  	<% if @roles.count > 0 %>
		  	<% @roles.each do |role| %>
		  		<tr>
		  			<td><input type="checkbox" name="role[]" value="<%= role.id %>"></td>
		  			<td><%= role.name %></td>
		  			<td><%= role.label %></td>
		  			<td>
		  				<div class="btn-group">
		  					<%= link_to "Edit", {controller: "role", action: "edit", id: role.id},class: "btn" %>
		  					<%= link_to "Delete", {controller: "role", action: "destroy", id: role.id}, method: :delete, data: {confirm: 'Are you sure ?'} ,class: "btn" %>
		  				</div>
		  			</td>
		  		</tr>
		  	<% end %>
		  	<% else %>
				<tr>
					<td colspan="100%">No Records</td>
				</tr>
		  	<% end %>
		  	</tbody>
		  </table>
	    </div>
	  </div>
	</div>
</div>
<% end %>

