<% content_for :title do %>
	Edit User
<% end %>

<% content_for :titleTag do %>
	The user of user permissions
<% end %>

<% content_for :body do %>

<div class="row">
	<div class="col-sm-12">
	  <div class="panel panel-white no-radius">
	    <div class="panel-body">
	      <h1>User#show [<%= @user.fullname %>]</h1>
		  <div class="row">
				<div class="col-md-8">
				<fieldset>
				  	<legend>User Information</legend>
				  	<div class="form-group">
				  		<label for="firstname">First Name</label>
				  		<p class="form-control" disabled><%= @user.firstname %></p>
				  	</div>
				  	<div class="form-group">
				  		<label for="lastname">Last Name</label>
				  		<p class="form-control" disabled><%= @user.lastname %></p>
				  	</div>
				  	<div class="form-group">
				  		<label for="email">Email</label>
				  		<p class="form-control" disabled><%= @user.email %></p>
				  	</div>
				</fieldset>
				</div>
				<div class="col-md-4">
					<fieldset>
						<legend>Action</legend>
						<div class="form-group">
							<%= link_to "Edit", {controller: "user", action: "edit", id: @user.id}, class: "btn btn-primary" %>
						</div>
					</fieldset>
				</div>
			</div>
	    </div>
	  </div>
	</div>
</div>
<% end %>

