<div class="row">
	<div class="col-md-12">
	<% if @site.errors.any? %>
	    <div id="alert alert-warning">
	      <strong>
	        <%= pluralize(@site.errors.count, "error") %> prohibited
	        this site from being saved:
	      </strong>
	      <ul>
	        <% @site.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	<% end %>
		<div class="tabbable tabs-left">
			<ul id="myTab4" class="nav nav-tabs">
				<li class="active">
					<a href="#tab-general-info" data-toggle="tab"> General Information </a>
				</li>
				<li class="">
					<a href="#tab-system" data-toggle="tab"> Permissions </a>
				</li>
				<li class="">
					<a href="#tab-member" data-toggle="tab"> Members </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-general-info">
					<fieldset>
					  	<legend>General</legend>
					  	<div class="form-group <%= (@site.errors[:name].present?) ? "has-error" : nil  %>">
					  		<%= f.label :name, 'Name <span class="symbol required"></span>'.html_safe %>
					  		<%= f.text_field :name, class:"form-control", placeholder:"Site name" %>
					  		<%= ((@site.errors[:name].present?) ? @site.errors[:name][0] : nil) %>
					  	</div>
					  	<div class="form-group <%= (@site.errors[:label].present?) ? "has-error" : nil  %>">
					  		<%= f.label :label, 'Label <span class="symbol required"></span>'.html_safe %>
					  		<%= f.text_field :label, class:"form-control", placeholder:"Site label" %>
					  		<%= ((@site.errors[:label].present?) ? @site.errors[:label][0] : nil) %>
					  	</div>
					  	<div class="form-group <%= (@site.errors[:domain].present?) ? "has-error" : nil  %>">
					  		<%= f.label :domain, 'Domain URL <span class="symbol required"></span>'.html_safe %>
					  		<%= f.text_field :domain, class:"form-control", placeholder:"Site domain" %>
					  		<%= ((@site.errors[:domain].present?) ? @site.errors[:domain][0] : nil) %>
					  	</div>
					</fieldset>
					<fieldset>
						<legend>Analytics</legend>
						<div class="form-group <%= (@site.errors[:ga_code].present?) ? "has-error" : nil  %>">
							<%= f.label :ga_code, 'Google Analytic Code' %>
							<%= f.text_field :ga_code, class:"form-control", placeholder:"Insert GA code site" %>
							<%= ((@site.errors[:ga_code].present?) ? @site.errors[:ga_code][0] : nil) %>
						</div>
						<div class="form-group <%= (@site.errors[:ga_view_id].present?) ? "has-error" : nil  %>">
							<%= f.label :ga_view_id, 'Google Analytic View ID Code' %>
							<%= f.text_field :ga_view_id, class:"form-control", placeholder:"Insert GA View ID code site" %>
							<%= ((@site.errors[:ga_view_id].present?) ? @site.errors[:ga_view_id][0] : nil) %>
						</div>
					</fieldset>
					<fieldset>
					  	<legend>Media</legend>
					  	<div class="form-group">
					  		<%= f.label :favicon, 'Favicon' %>
					  		<%= f.file_field :favicon %>
					  	</div>
					</fieldset>
				</div>
				<div class="tab-pane fade" id="tab-system">
					<fieldset>
						<legend>Permissions Allow</legend>
						<% if @site.errors[:permission_ids].present? %>
							<p class="text-warning"><%= @site.errors[:permission_ids][0] %></p>
						<% end %>
						<div class="form-group">
							<% permissions.each do |perm| %>
							<div class="checkbox">
								<label>
								  <input type="checkbox" class="js-switch" name="site[permission_ids][]" value="<%= perm.id %>" <%= ((@site.permissions.include? perm) ? 'checked' : nil) %>> <%= perm.name %> 
								</label>
							</div>
							<% end %>	
					  	</div>
					</fieldset>
				</div>
				<div class="tab-pane fade" id="tab-member">
					<table class="table table-stripped">
						<thead>
							<th width="2%">ID</th>
							<th width="50%">Name</th>
							<th width="20%">Role</th>
							<th width="30%">Action</th>
						</thead>
						<tbody>
						<% if  @users.count > 0 %>
							<% @users.each do |member| %>
								<tr>
									<td>
										<div class="checkbox clip-check check-primary checkbox-inline">
											<input type="checkbox" id="member<%= member.id %>" value="1">
											<label for="member<%= member.id %>"></label>
										</div>
									</td>
									<td><%= member.email %></td>
									<td>
										<% member.roles.each do |role| %>
											<span class="label label-info"><%= role.label %></span>
										<% end %>
									</td>
									<td>
										<div class="btn-group">
											<a href="" class="btn btn-xs">Detail</a>
											<a href="" class="btn btn-xs">Remove</a>
										</div>
									</td>
								</tr>
							<% end %>
						<% else %>
							<tr>
								<td colspan="100%">No data member</td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<div class="form-group">
			<%= f.submit "Save", class: "btn btn-primary" %>
		</div>
	</div>
</div>