<% content_for :title do %>
	Site
<% end %>

<% content_for :titleTag do %>
	The site of user permissions
<% end %>

<% content_for :body do %>

<div class="row">
	<div class="col-sm-12">
	  <div class="panel panel-white no-radius">
	    <div class="panel-heading border-light">
			<h4 class="panel-title">Sites</h4>
			<ul class="panel-heading-tabs border-light">
				<li>
					<%= link_to "Add New", {controller: "site", action: "new"}, class: "btn btn-info" %>
				</li>
			</ul>
		</div>
	    <div class="panel-body">
		  <table class="table table-bordered">
		  	<thead>
		  		<th width="5%">ID</th>
		  		<th width="25%">Name</th>
		  		<th width="20%">Label</th>
		  		<th width="40%">Action</th>
		  	</thead>
		  	<tbody>
		  	<% if @sites.count > 0 %>
		  	<% @sites.each do |site| %>
		  		<tr>
		  			<td><input type="checkbox" name="site[]" value="<%= site.id %>"></td>
		  			<td><%= site.name %> <br> <%= site.domain %></td>
		  			<td><%= site.label %></td>
		  			<td>
		  				<div class="btn-group">
		  					<%= link_to "Edit", {controller: "site", action: "edit", id: site.id},class: "btn" %>
		  					<%= link_to "Delete", {controller: "site", action: "destroy", id: site.id}, method: :delete, data: {confirm: 'Are you sure ?'} ,class: "btn" %>
		  				</div>
		  			</td>
		  		</tr>
		  	<% end %>
		  	<% else %>
				<tr>
					<td colspan="100%">No Records</td>
				</tr>
		  	<% end %>
		  	</tbody>
		  </table>
	    </div>
	  </div>
	</div>
</div>
<% end %>

